NiblessTest.xcodeproj/idelovski.mode1v3
NiblessTest.xcodeproj/idelovski.pbxuser 
# NiblessTest.xcodeproj/project.pbxproj
NiblessTest.xcodeproj/project.xcworkspace
NiblessTest.xcodeproj/xcuserdata 
.DS_Store
